<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <ListUsers/>
  </div>
</template>

<script>
// @ is an alias to /src
import ListUsers from '@/components/ListUsers.vue'

export default {
  name: 'HomeView',
  components: {
    ListUsers
  }
}
</script>
