<template>
  <router-link to="/">На главную</router-link>
  <div v-if="post" class="post">
    <form action="#" @submit.prevent="savePost">
      <table>
        <tr>
          <td>Id</td>
          <td>{{ post.id }}</td>
        </tr>
        <tr>
          <td>Title</td>
          <td>
            <input type="text" name="title" aria-label="title" v-model="title">
          </td>
        </tr>
        <tr>
          <td>Body</td>
          <td>
            <textarea name="body" aria-label="body" v-model="body"></textarea>
          </td>
        </tr>
      </table>
      <button type="submit">Save</button>
    </form>
    <ListComments :postId=post.id />
  </div>
</template>
<script>
import axios from 'axios'
import ListComments from '../components/ListComments.vue'

export default {
  name: 'PostView',
  post: null,
  postId: null,
  comments: [],
  title: '',
  body: '',

  data: function () {
    return {
      post: this.post,
      title: this.title,
      body: this.body,
      comments: this.comments
    }
  },
  mounted () {
    axios
      .get(`https://jsonplaceholder.typicode.com/posts/${this.$route.params.id}`).then((response) => {
        this.post = response.data
        this.postId = this.post.postId
        this.title = this.post.title
        this.body = this.post.body
      })
  },
  methods: {
    savePost () {
      const data = {
        id: this.post.id,
        title: this.title,
        body: this.body,
        userId: this.post.userId
      }
      axios
        .put(`https://jsonplaceholder.typicode.com/posts/${this.$route.params.id}`, data, {
          headers: {
            'Content-type': 'application/json; charset=UTF-8'
          }
        }).then(() => {
          window.location.href = '/'
        })
    }
  },
  components: {
    ListComments
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .post {
    margin-top: 20px;
  }
  table {
    width: 100%;
  }
  table, th, td {
      border: 1px solid black;
      text-align: left;
  }
  th, td {
    padding: 5px;
  }

  input, textarea {
    padding: 5px;
    width: calc(100% - 15px);
  }

  button {
    text-align: left;
    padding: 15px 20px;
    background-color: lightgreen;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    margin: 10px auto 0 0;
    display: block;

    &:hover {
      background-color: aquamarine;
    }

    &, &:hover {
      transition: background-color .15s ease;
    }
  }
</style>
