<template>
  <h2>Comments:</h2>
  <ul class="comments" v-if="comments">
    <li class="comment" v-for="comment in comments" :key="comment.id">
      <span class="comment__email">E-mail: {{ comment.email }}</span>
      <span class="comment__name">Name: {{ comment.name }}</span>
      <span class="comment__body">Body: {{ comment.body }}</span>
    </li>
  </ul>
</template>
<script>
import axios from 'axios'

export default {
  name: 'ListComments',
  comments: [],
  props: {
    postId: null
  },
  data: function () {
    return {
      comments: []
    }
  },
  mounted () {
    axios
      .get('https://jsonplaceholder.typicode.com/comments').then((response) => {
        const comments = response.data
        console.log(comments, this.postId)
        for (let i = 0; i < comments.length; i++) {
          const comment = comments[i]
          console.log(comment.postId === this.postId)
          if (comment.postId === this.postId) {
            this.comments.push(comment)
          }
        }
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h2 {
  text-align: left;
}
  .comments {
    .comment {
      margin: 20px;
      &__email, &__name, &__body {
        display: block;
        text-align: left;
        margin: 5px;
      }
    }
  }
</style>
