<template>
    <table class="users">
        <thead>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Company</th>
            <th>Website</th>
            <th>Messages</th>
        </thead>
        <tbody>
            <tr v-for="user in users" :key="user.id" class="user">
                <td class="user__id" @click="togglePosts(user.id)">
                    {{ user.id }}
                </td>
                <td class="user__username" @click="togglePosts(user.id)">{{ user.username }}</td>
                <td class="user__name" @click="togglePosts(user.id)">{{ user.name }}</td>
                <td class="user__company company" @click="togglePosts(user.id)">
                    <span class="name">{{ user.company.name }}</span>
                </td>
                <td class="user__website" @click="togglePosts(user.id)">{{ user.website }}</td>
                <td class="user__message">
                    <table v-if="user.show_posts">
                      <thead>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Words</th>
                        <th>Chars</th>
                      </thead>
                        <tr v-for="post in user.posts" :key="post.id">
                          <td><router-link :to="`/posts/${post.id}`">{{ post.id }}</router-link></td>
                          <td><router-link :to="`/posts/${post.id}`">{{ post.title }}</router-link></td>
                          <td><router-link :to="`/posts/${post.id}`">{{ post.words }}</router-link></td>
                          <td><router-link :to="`/posts/${post.id}`">{{ post.chars }}</router-link></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</template>
<script>
import axios from 'axios'

export default {
  url: 'https://jsonplaceholder.typicode.com/users',
  name: 'ListUsers',
  users: [],
  posts: [],
  data: function () {
    return {
      users: [],
      posts: []
    }
  },
  mounted () {
    axios
      .get('https://jsonplaceholder.typicode.com/users').then((response) => {
        this.users = response.data
        axios
          .get('https://jsonplaceholder.typicode.com/posts').then((response) => {
            this.posts = response.data
            for (let i = 0; i < this.users.length; i++) {
              this.users[i].posts = []
              for (let j = 0; j < this.posts.length; j++) {
                if (this.posts[j].userId === this.users[i].id) {
                  const post = this.posts[j]
                  post.words = post.body.split(' ').length
                  post.chars = post.body.length
                  this.users[i].posts.push(post)
                }
              }
            }
          })
      })
  },
  methods: {
    togglePosts (userId) {
      for (let i = 0; i < this.users.length; i++) {
        const user = this.users[i]
        if (user.id === userId) {
          this.users[i].show_posts = !this.users[i].show_posts
        }
      }
    }
  },
  watch: {
    users (val) {
      this.users = val
    },
    posts (val) {
      this.posts = val
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    table {
      width: 100%;
    }
    table, th, td {
        border: 1px solid black;
    }
    td {
      vertical-align: top;
    }

    th, td {
      padding: 5px;
    }
    tr {
      cursor: pointer;
      user-select: none;

      &:nth-of-type(even) {
        background-color: aquamarine;
      }
      &:nth-of-type(odd) {
        background-color: bisque;
      }
      &:hover {
        &:nth-of-type(even) {
          background-color: darken(aquamarine, 25%);

          td {
            &:last-of-type {
              background-color: aquamarine;
              cursor: default;
            }
          }
        }
        &:nth-of-type(odd) {
          background-color: darken(bisque, 25%);

          td {
            &:last-of-type {
              background-color: bisque;
              cursor: default;
            }
          }
        }
      }

      &, &:hover {
        transition: background-color .15s ease;
      }
    }
</style>
